<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <div>
                <a href="https://www.accolite.com">
                    <img src="https://www.accolite.com/assets/jpg/logo.png" class="img-fluid" alt="Responsive image">
                </a>
            </div>
            <p></p>
            <!-- <h1 class="card-title text-center">Welcome to Accolite</h1> -->
            <h1 class="card-title text-center">Course Management System</h1>
            <div class="signin">
              <hr class="my-4" color="gray">
              <button class="btn btn-lg btn-google btn-block text-uppercase" (click)="signInGoogle()"><i class="fab fa-google mr-2"></i> Sign in with Google</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>